/* Responsive portable */
@media (min-width: 768px) {
  .main_right {
    width: 75%;
    padding-top: 20px !important;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .input_placeholder {
    padding-left: 70px !important;
  }
  .check_money_ {
    border-left: 1px solid #e6d4f8;
  }
  .convertion {
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-size: 0.7em;
    transform: translate3d(0, -5px, 0);
  }
  .convertion :nth-child(1) {
    color: #592e83;
    padding-bottom: 5px !important;
    border-bottom: 1px solid #592e83;
    cursor: pointer;
  }
  .check_position {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  .parent_circle_position {
    width: 38px;
    height: 15px;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    padding: 4px;
    position: relative;
  }
  .child_circle_position {
    border-radius: 50%;
    background: white;
    width: 19px;
    height: 19px;
    position: absolute;
    left: 4px;
    top: 2px;
    color: transparent;
    cursor: pointer;
  }
  .condition {
    display: flex;
    flex-direction: column;
    gap: 3px;
    color: #1e1e1e;
  }
  .condition_1 {
    font-size: 13px !important;
    font-weight: bold;
  }
  .condition_2 {
    font-size: 11px !important;
    text-align: left;
  }
}

/* Responsive smartphone*/
@media (max-width: 480px) {
  .main_right {
    /* width: 100%; */
    /* padding-top: 20px !important; */
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* background-color: aqua; */
  }
  .input_placeholder {
    padding-left: 70px !important;
  }
  .check_money_ {
    border-left: 1px solid #e6d4f8;
  }
  .convertion {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    font-size: 0.7em;
    transform: translate3d(0, -5px, 0);
  }
  .convertion :nth-child(1) {
    color: #592e83;
    padding-bottom: 5px !important;
    border-bottom: 1px solid #592e83;
    cursor: pointer;
  }
  .check_position {
    display: flex;
    gap: 15px;
    /* align-items: center; */
  }
  .parent_circle_position {
    width: 38px;
    height: 15px;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    padding: 4px;
    position: relative;
  }
  .child_circle_position {
    border-radius: 50%;
    background: white;
    width: 19px;
    height: 19px;
    position: absolute;
    left: 4px;
    top: 2px;
    color: transparent;
    cursor: pointer;
  }
  .condition {
    display: flex;
    flex-direction: column;
    gap: 3px;
    color: #1e1e1e;
  }
  .condition_1 {
    font-size: 12px !important;
    font-weight: bold;
  }
  .condition_2 {
    font-size: 11px !important;
    text-align: left;
  }
}
